# Xcode
DerivedData/
*.xcuserdata/
*.xccheckout
*.moved-aside
xcuserdata/
*.xcodeproj

# Build products
build/

# Tuist
.build/
Tuist/.build/
**/.package.resolved

# OS
.DS_Store
.AppleDouble
.LSOverride
