# Xcode
DerivedData/
*.xcuserdata/
*.xccheckout
*.moved-aside
xcuserdata/
*.xcodeproj

# Build products
build/

# Tuist generated
.build/
Tuist/.build/
**/.package.resolved
*.xcworkspace
*.xcodeproj
Derived/

# OS
.DS_Store
.AppleDouble
.LSOverride
